services:
  api:
    build: .
    container_name: crud-server
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - crud-network

  db:
    image: postgres:15-alpine
    container_name: crud-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: crud_app
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - crud-network

networks:
  crud-network:
    driver: bridge

volumes:
  postgres_data:
